<div ng-controller="taskController">
    <form class="form col-md-12 center-block well" name="taskForm">
        <div class="form-group">
            <label for="taskName">Nom de la tâche</label>
            <input class="form-control input-lg" ng-model="taskName" placeholder="Saisissez tâche" type="text" name="taskName" required>
        </div>
        <div class="form-group pull-center">
            <button class="btn btn-primary" ng-click="create()" ng-disabled="taskForm.$invalid">Ajouter</button>
        </div>
    </form>
</div>